<!-- edit by charles.nhzc 
        at 2013-05-10
 E-mail:charles.nhzc@gmail.com
 -->
 <!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>百度深研国际化评测平台</title>
	<script id="nui-init" type="text/javascript" src="../configuration/nui/init.js"></script>
	<link rel="stylesheet" href="../configuration/css/iframe.css"/>
	<script type="text/javascript" src="../configuration/js/iframe.js"></script>
	<script type="text/javascript" src="../configuration/js/ichart.1.1.min.js"></script>
	
	
	
</head>
<body>
	<!--面包屑-->
	
	
	<!--大标题-->
	<h2 class="title">亮点功能评测方法</h2>
	
	
	
	
	
	<h4>百度国际大厦位于深圳市南山区高新技术产业园，建筑面积超过22万平方米，由东西两座塔楼组成，可容纳万名员工，于2012年1月16日举行奠基仪式，预计在2015年完成竣工。大厦的立面设计以“百度”的命名为灵感，将“众里寻他千百度”这句中国古词巧妙转换为“二进制代码”的现代计算机语言，形成独一无二的百度国际大厦外立面。建成后的百度国际大厦除了是百度华南总部，还将扮演百度国际总部和深圳研发中心两个重要角色。</h4>
	
</body>
</html>